<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/sass/style.min.css">
    <title>Document</title>
</head>

<body>
    <section class="wrapper d-flex flex-column min-vh-100 bg-light bg-opacity-50 dark:bg-transparent">
        <div class="body flex-grow-1 px-3">
            <div class="container-lg">
                <div class="fs-2 fw-semibold">Charts</div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Components</a>
                        </li>
                        <li class="breadcrumb-item active"><span>Charts</span></li>
                    </ol>
                </nav>
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Line</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Bar</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-2"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Doughnut</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-3"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">rada</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-4"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Pie</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-5"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Polar Area</span></div>
                            <div class="card-body">
                                <div class="example">
                                    <ul class="nav nav-underline" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-730" role="tab" aria-selected="true">
                                       Preview </a></li>
                                    </ul>
                                    <div class="tab-content rounded-bottom">
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-730">
                                            <div class="c-chart-wrapper">
                                                <canvas id="canvas-6"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/assets/chart.min.js"></script>
<script src="chart.js"></script>

</html>